.home {
  margin:0px;
  width: 100vw;
  height: 100vh; 
  background-image: url("https://s3-alpha-sig.figma.com/img/9ce2/aaa2/e1a5bd0abcbe9c3c6e0c9a823b4281cb?Expires=1662940800&Signature=JZ~82FUXSQKR3FUzo04eY3b3SQJT9rWx1n~hy8kQr6tIm1QcRDl8TbNo-fic0s7-fwPDmsVi2u7L~m6C5AhKWNhaJAHdfs7zXrMWomx~vNjDK8VfpnJvES8EpR7qRK0lBVsLCOwcMcd8M~uZy8033ze2j1EQ6jNrdGYi1QpMkihW4QUmFTnZpAC6MZIov5FpCYwD-XHnPjpZKwapq9sVPEl-HRFeVcFA~28RE8IHTFl3G1SrC81dSLmhRy2BlSyr82P2~sCF9aFdyIH~kNM702wdjQC0yBWpLQpU6koO-EfHN6mbcpkN2vGKqrzuKiHJ39anpozvMshHuMIkvfVFOA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: 100% auto;
}

.homeText{
  padding: 10rem 0px 0px 2rem;
  margin: 0px;
  font-family: bold;
  font-style: Black;
  font-size: 64px;
  line-height: 64px;
  line-height: 83%;
  vertical-align: top;
  font-weight:900;
  color: white;
  font-variant-numeric: tabular-nums;
}

.recipeBtn {
  align-items: flex-end;
  margin: 1rem 0px 0px 2rem;
  text-align: left;
  font-family: Bold;
  border-radius: 10px 10px 10px 0px;
  border-color: #FFBD00;
  background-color:#FFBD00;
}